<!-- Footer-->
<footer class="py-5 bg-dark">
    <hr />
    <div class="row m-0">
        <div class="container col-lg-4 text-white text-center">
            <h5>Site Haritası</h5>
            <hr />
            <p class="m-0 text-center text-white">

                <a href="#" class="text-white">Hakkımızda</a>
                <br />
                <a href="#" class="text-white">En Beğenilenler</a>
                <br />
                <a href="#" class="text-white">Son Yazılar</a>
            </p>
        </div>
        <div class="container col-lg-4  text-white text-center"><p class="m-0 text-center">Copyright &copy; Your Website @DateTime.Now.Year <hr /> Created By Merve Ceylan</p></div>
        <div class="container col-lg-4 text-white text-center">
            <h5>
                <strong>E-Bülten Üyeliği</strong>
            </h5>
            <hr />
            <div class="col-md-10 ms-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="E-posta Gönder" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Gönder</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</footer>